<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>品牌合作</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link href="/assets/css/common.css?{:rand(10000,1000000)}" rel="stylesheet">
        <link href="/assets/css/cooperation.css?{:rand(10000,1000000)}" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/animations.css">
        <link rel="stylesheet" href="/assets/swiper/package/css/swiper.min.css">
        <!-- jQuery -->
        <script src=https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js></script>
        <script src="/assets/js/common.js?{:rand(10000,100000)}"></script>
        <style>
            .daterangepicker {
                top: 768px!important;
                display: none;
            }
            .btn-default:hover,.btn-default:active,.btn-default:focus{
                background-color: inherit;
            }

            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .swiper-slide img{
                width: 100%;
                padding: 0 5px;
            }
        </style>
    </head>

    <body id="page-top">
        {include file='common/nav' /}
        
        <div class="banners">
            <img src="/assets/img/cooperation/banner-1.jpg" alt="">
            <div class="banner-title">
                品牌合作
            </div>
        </div>

        <div class="entrust">
            <div class="entrust-banner fadeInLeft animated">
                <img src="/assets/img/cooperation/entrust-banner.jpg" alt="">
            </div>
            <div class="entrust-carousel-box fadeInRight animated">
                <div id="entrust-carousel"" class="entrust-carousel carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/assets/img/cooperation/entrust-carousel-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/img/cooperation/entrust-carousel-2.jpg" alt="">
                    </div>
                    </div>
                
                    <!-- Controls -->
                    <a class="left carousel-control" href="#entrust-carousel" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#entrust-carousel"" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="support">
            <div class="img-box img-box-left">
                <div class="support-title">十大支持体系</div>
                <div class="support-group">
                    <div class="support-row">
                        <div class="support-item fadeIn showOrder1">项目发展支持</div>
                        <div class="support-item fadeIn showOrder2">语音管理体系支持</div>
                    </div>
                    <div class="support-row">
                        <div class="support-item fadeIn showOrder3">品牌体系支持</div>
                        <div class="support-item fadeIn showOrder4">营销管理体系支持</div>
                    </div>
                    <div class="support-row">
                        <div class="support-item fadeIn showOrder5">会员体系支持</div>
                        <div class="support-item fadeIn showOrder6">客群引导渠道支持</div>
                    </div>
                    <div class="support-row">
                        <div class="support-item fadeIn showOrder7">赋能培训支持</div>
                        <div class="support-item fadeIn showOrder8">信息化全球系支持</div>
                    </div>
                    <div class="support-row">
                        <div class="support-item fadeIn showOrder9">品控管理支持</div>
                        <div class="support-item fadeIn showOrder10">工程设计及供应链支持</div>
                    </div>
                </div>
            </div>
            <div class="img-box img-box-right">
                <img src="/assets/img/cooperation/support-right.jpg" alt="">
            </div>
        </div>

        <div class="policies">
            <div id="policies-carousel"" class="policies-carousel carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="/assets/img/cooperation/policies-carousel-1.jpg" alt="" class="showFullScreen">
                  </div>
                  <div class="item">
                    <img src="/assets/img/cooperation/policies-carousel-2.jpg" alt="" class="showFullScreen">
                  </div>
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#policies-carousel" role="button" data-slide="prev">
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#policies-carousel"" role="button" data-slide="next">
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        {include file='common/footer' /}

        {include file='common/user' /}
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/assets/css/daterangepicker.css?{:rand(10000,100000)}" rel="stylesheet">
        <link href="/assets/css/iconfont.css?{:rand(10000,100000)}" rel="stylesheet">
        <script type="text/javascript" src="/assets/js/moment.js"></script>
        <script type="text/javascript" src="/assets/js/daterangepicker.js"></script>
        <script src="/assets/swiper/package/js/swiper.min.js"></script>
        <script type="text/javascript">
         $(function () {
            $(document).scroll(function(){
                var offset = $(this).scrollTop();
                console.log(offset);
                if(offset > 300) {
                    $(".entrust-banner").removeClass("fadeInLeft").removeClass("animated");
                    $(".entrust-carousel-box").removeClass("fadeInRight").removeClass("animated");
                } else {
                    // $(".entrust-banner").addClass("fadeInLeft").addClass("animated");
                    // $(".entrust-carousel-box").addClass("fadeInRight").addClass("animated");
                }
            });

            $("#tohotel").click(function () {
                var city = $("#city").val();
                if(city == 0) {
                    alert('请选择城市');
                    return false;
                }

                var range = $("#start").find("span.date").html() + '-' + $("#end").find("span.date").html();
                var url = '/index/index/search.html?city=' + city + '&range=' + range;
                window.location.href = url;
            });

            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 4,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });
        });

        $('.ranges_1 ul').remove();
        $('#daterange-btn').daterangepicker({
                /**
                ranges: {
                    '全部': [moment(), moment().subtract(-1, 'days')],
                    '今天': [moment(), moment()],
                    '明天': [moment().subtract(-1, 'days'), moment().subtract(-1, 'days')],
                    '未来七天': [moment(),moment().subtract(-6, 'days')],
                    '未来30天': [moment(),moment().subtract(-29, 'days')],
                    '未来60天': [moment(),moment().subtract(-59, 'days'), ]
                },
                    **/
                startDate: moment(),
                endDate: moment()
            },
            function(start, end,label) {
                let daysOfWeek = ["周日","周一","周二","周三","周四","周五","周六"]
                let startDate = start.format('YYYY/MM/DD');
                $('#start span.date').html(startDate);
                let week1 = start.weekday();
                $('#start span.week').html(daysOfWeek[week1]);

                let endDate = end.format('YYYY/MM/DD');
                $('#end span.date').html(endDate);
                let week2 = end.weekday();
                $('#end span.week').html(daysOfWeek[week2]);

                let diffDays = dateDiff(startDate, endDate);
                $(".days").html(diffDays + '晚');
            }
        );
        </script>
    </body>

</html>