<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>R 酒店官网</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link href="/assets/css/common.css?{:rand(10000,1000000)}" rel="stylesheet">
        <link href="/assets/css/index.css?{:rand(10000,1000000)}" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/animations.css">
        <link rel="stylesheet" href="/assets/swiper/package/css/swiper.min.css">
        <!-- jQuery -->
        <script src=https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js></script>
        <script src="/assets/js/common.js?{:rand(10000,100000)}"></script>
        <style>
            .daterangepicker {
                top: 768px!important;
                display: none;
            }
            .btn-default:hover,.btn-default:active,.btn-default:focus{
                background-color: inherit;
            }

            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .swiper-slide img{
                width: 100%;
                padding: 0 5px;
            }
        </style>
    </head>

    <body id="page-top">
        {include file='common/nav' /}
        <div class="target-block" id="target">
            <div class="target-form">
                <div class="select-box">
                    <select id="city">
                        <option value="0">请选择目的地</option>
                        {foreach name="cities" item="city"}
                        <option value="{$city.id}">{$city.title}，中国{$city.title}市</option>
                        {/foreach}
                    </select>
                </div>


                <div class="date_box" id="start">
                    <span class="title">入住</span>
                    <span class="date">{:date('Y-m-d')}</span>
                    <span class="week">{$week}</span>
                </div>

                <div class="date_box" id="end">
                    <span class="title">离店</span>
                    <span class="date">{:date('Y-m-d')}</span>
                    <span class="week">{$week}</span>
                </div>

                <div class="days">
                    0晚
                </div>

                <div class="target-search" id="tohotel">查找酒店</div>
            </div>
        </div>

        <div class="story-block">
            <div id="story">
                <div class="story-left">
                    <div class="story-box">
                        <div class="story-title">R HOTEL故事</div>
                        <div class="story-content">
                            R酒店，善于发现、乐于感悟。捕捉到宾客对一切新鲜和未知的渴望，感悟到对一次与众不同的旅宿的期待，在极具竞争力的价格下提供高标准的住宿与服务。 精心设计的英伦风情居所、7天24小时全天候的酒店服务以及摩登时尚的轻社交场景打造，让一切在这里发现更多乐趣、惊喜和灵感，由心感悟生活的各种美好与精彩。
                        </div>
                    </div>
                </div>
                <div class="story-banner">
                    <table>
                        <tr>
                            <td><img src="/assets/img/common/story-banner1.jpg" alt=""></td>
                            <td rowspan="2"><img src="/assets/img/common/story-banner3.jpg" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="/assets/img/common/story-banner2.jpg" alt=""></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="hotel-block">
            <div class="hotel-title">
                寻找属于您的R HOTEL
            </div>
            <div class="hotel-swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/assets/img/hotel/1.png" alt=""></div>
                        <div class="swiper-slide"><img src="/assets/img/hotel/2.png" alt=""></div>
                        <div class="swiper-slide"><img src="/assets/img/hotel/3.jpg" alt=""></div>
                    </div>

                </div>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>

        <div class="club-block" id="club">

            <div class="club">
                <div class="title">美豪会</div>
                <div class="club-content">
                    <div class="ftitle">THE MEHOOD CLUB</div>
                    <div class="content">
                        <p>发现未知的精彩</p>
                        <p>在美豪酒店集团旗下，四个品牌超过 180 家酒店</p>
                        <p>探寻与众不同的生活、创意、灵感</p>
                        <p>立即加入美豪探索之旅前往 <a href="http://www.mehoodhotels.com">www.mehoodhotels.com</a></p>
                        <p>及美豪旗下品牌酒店获取多达六十项 VIP 服务，超三百项增值体验</p>
                        <p>更有机会成为美豪生活大使，赢取更多奖赏赚取积分：入住、官网、小程序订房有额外积分获得，内有兑换积分的形式</p>
                    </div>
                 </div>
            </div>
            <a class="link-to-group" href="http://www.mehoodhotels.com/club/vip">更多会员优惠及礼遇+</a>

            <img src="/assets/img/common/club.png" alt="">
        </div>

        {include file='common/footer' /}

        {include file='common/user' /}
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="/assets/css/daterangepicker.css?{:rand(10000,100000)}" rel="stylesheet">
        <link href="/assets/css/iconfont.css?{:rand(10000,100000)}" rel="stylesheet">
        <script type="text/javascript" src="/assets/js/moment.js"></script>
        <script type="text/javascript" src="/assets/js/daterangepicker.js"></script>
        <script src="/assets/swiper/package/js/swiper.min.js"></script>
        <script type="text/javascript">
         $(function () {
            $("#tohotel").click(function () {
                return false;
                var city = $("#city").val();
                if(city == 0) {
                    alert('请选择城市');
                    return false;
                }

                var range = $("#start").find("span.date").html() + '-' + $("#end").find("span.date").html();
                var url = '/index/index/search.html?city=' + city + '&range=' + range;
                window.location.href = url;
            });

            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });
        });

        $(document).scroll(function(){
            var offset = $(this).scrollTop();
            var winHeight = $(window).height();
            var whenXinyu = winHeight/2;
            if(offset > whenXinyu) {
                $(".home-banners .carousel-caption-title").addClass("fadeInDown").addClass("animated");
                $(".home-banners .carousel-caption-content").addClass("fadeInUp").addClass("animated");
            } else {
                $(".home-banners .carousel-caption-title").removeClass("fadeInDown").removeClass("animated");
                $(".home-banners .carousel-caption-content").removeClass("fadeInUp").removeClass("animated");
            }

            var whenHotel = winHeight;
            if(offset > whenHotel) {
                $(".hotel-block .hotel-title").addClass("fadeInLeft").addClass("animated");
                $(".hotel-block .hotel-intro").addClass("fadeInRight").addClass("animated");
            } else {
                $(".hotel-block .hotel-title").removeClass("fadeInLeft").removeClass("animated");
                $(".hotel-block .hotel-intro").removeClass("fadeInRight").removeClass("animated");
            }

            var whenClub = 1800;
            if(offset > whenClub) {
                $(".club .title").addClass("fadeInDown").addClass("animated");
                $(".club .club-content").addClass("fadeInUp").addClass("animated");
            } else {
                $(".club .title").removeClass("fadeInLeft").removeClass("animated");
                $(".club .club-content").removeClass("fadeInRight").removeClass("animated");
            }

            var winHeight = $(window).height() 
        });

        $('.ranges_1 ul').remove();
        $('#daterange-btn').daterangepicker({
                /**
                ranges: {
                    '全部': [moment(), moment().subtract(-1, 'days')],
                    '今天': [moment(), moment()],
                    '明天': [moment().subtract(-1, 'days'), moment().subtract(-1, 'days')],
                    '未来七天': [moment(),moment().subtract(-6, 'days')],
                    '未来30天': [moment(),moment().subtract(-29, 'days')],
                    '未来60天': [moment(),moment().subtract(-59, 'days'), ]
                },
                    **/
                startDate: moment(),
                endDate: moment()
            },
            function(start, end,label) {
                let daysOfWeek = ["周日","周一","周二","周三","周四","周五","周六"]
                let startDate = start.format('YYYY/MM/DD');
                $('#start span.date').html(startDate);
                let week1 = start.weekday();
                $('#start span.week').html(daysOfWeek[week1]);

                let endDate = end.format('YYYY/MM/DD');
                $('#end span.date').html(endDate);
                let week2 = end.weekday();
                $('#end span.week').html(daysOfWeek[week2]);

                let diffDays = dateDiff(startDate, endDate);
                $(".days").html(diffDays + '晚');
            }
        );
        </script>
    </body>

</html>