.target-block {
    width: 100%;
    height: 780px;
    background: url('/assets/img/common/banner.png');
    background-size: cover;
    position: relative;
}

.target-form {
    display: flex;
    background: #fff;
    position: absolute;
    width: 1200px;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    padding: 12px 60px;
    box-sizing: border-box;
    align-items: center;
}

.target-form .select-box {
    position: relative;
    flex: 1;
}

.target-form select {
    width: 100%;
    height: 38px;
    padding: 0 10px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    color: #959595;
}

.target-form .select-box::after {
    content: " ";
    width: 14px;
    height: 8px;
    background: url(/assets/img/common/down.png) no-repeat center;
    position: absolute;
    right: 10px;
    top: 45%;
    pointer-events: none;
}

.target-form .date_box {
    position: relative;
    flex: 1;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bolder;
    text-align: left;
    border: 1px solid #dcdcdc;
    margin-left: 10px;
    padding: 0 10px;
    color: #959595;
}

.target-form .date_box .title{
    padding-right: 10px;
    border-right: 1px solid #959595;
}

.target-form .date_box .date{
    padding: 0 10px;
}

.target-form .date_box:after {
    content: " ";
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url("/assets/img/common/rili.png") no-repeat;
}

.target-form .days {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #959595;
    padding: 0 14px;
}

.target-search {
    flex: 1;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
}

.home-banners {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.home-banners .carousel-control {
    position: absolute;
    top: unset;
    left: unset;
    right: 0;
    bottom: 0;
    width: 57px;
    height: 56px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
}

.home-banners .carousel-control.left {
    right: 60px;
    bottom: 0;
    background-image: url('/assets/img/common/left.png');
    background-repeat: no-repeat;
    filter: none;
}

.home-banners .carousel-control.right {
    right: 0!important;
    bottom: 0!important;
    background-image: url('/assets/img/common/right.png');
    background-repeat: no-repeat;
    filter: none;
}

.home-banners .carousel-inner .item .carousel-caption {
    position: absolute;
    width: 538px;
    top: 50%;
    right: 0;
    left: unset;
    bottom: unset;
    transform: translateY(-50%);
    padding: 50px 40px;
    color: #333;
    background-color: #fff;
    text-shadow: none;
    text-align: left;
}

.home-banners .carousel-inner .item .carousel-caption .carousel-caption-title {
    font-size: 36px;
    font-style: italic;
}

.carousel-caption-title-animation {
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: home-baner-title;
    animation-name: home-baner-title;
    -o-animation-name: home-baner-title;
    -ms-animation-name: home-baner-title;
    -moz-animation-name: home-baner-title;
}

.home-banners .carousel-inner .item .carousel-caption .carousel-caption-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 2;
}

.carousel-caption-content-animation {
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -webkit-animation-name: bannerH2;
    animation-name: bannerH2;
    -o-animation-name: bannerH2;
    -ms-animation-name: bannerH2;
    -moz-animation-name: bannerH2;
}

.story-block {
    margin-top: 100px;
    background: #eeeeee;
}

#story {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

#story .story-left,
#story .story-banner {
    flex: 1;
}

#story .story-left{
    display: flex;
    align-items: center;
}

#story .story-box{
    padding-right: 180px;
}

#story .story-box .story-title{
    font-size: 30px;
    font-weight: bolder;
    color: #e27324;
    margin-bottom: 30px;
}
#story .story-box .story-content{
    font-size: 14px;
    color: #707070;
    line-height: 2.5;
}

#story .story-banner table{
    border-spacing: 0px;
    border: none;
}

#story .story-banner table tr td:first-child{
    padding-right: 3px;
    padding-bottom: 2px;
}

#story .story-banner table tr:last-child td:first-child{
    padding-bottom: 0;
}

.story-titlepic {
    font-size: 0;
}

.story-titlepic img {
    width: 100%;
    height: 100%;
}

.story-panel {
    background: #fff;
    padding: 38px 78px;
}

.story-panel .story-title {
    font-size: 24px;
    padding: 0 8px;
    margin-bottom: 24px;
}

.story-panel .story-content {
    font-size: 14px;
    line-height: 1.8;
}

.hotel-block {
    width: 1200px;
    margin: 120px auto 0;
}

.hotel-block .hotel-title {
    font-size: 30px;
    font-weight: bolder;
    color: #e27324;
    text-align: center;
    margin-bottom: 38px;
}


.hotel-swiper{
    position: relative;
    padding: 0 30px;
}

.hotel-swiper .swiper-slide img {
    height: 340px!important;
}

.hotel-swiper .swiper-button{
    position: absolute;
    width: 56px;
    height: 56px;
    top: 50%;
    transform: translate(-50%);
    z-index: 100;
    opacity: 1!important;
}

.hotel-swiper .swiper-button-prev{
    background: url('/assets/img/common/hotel-left.png') no-repeat;
    left: 28px;
}
.hotel-swiper .swiper-button-prev:hover{
    background: url('/assets/img/common/hotel-left-active.png') no-repeat;
    left: 28px;
}
.hotel-swiper .swiper-button-prev::after{
    content: "";
}

.hotel-swiper .swiper-button-next{
    background: url('/assets/img/common/hotel-right.png') no-repeat;
    right: -67px;
}
.hotel-swiper .swiper-button-next:hover{
    background: url('/assets/img/common/hotel-right-active.png') no-repeat;
    right: -67px;
}

.hotel-swiper .swiper-button-next::after{
    content: "";
}

.club-block {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.club .title{
    color: #e27324;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.club .ftitle{
    color: #e27324;
    font-size: 14px;
    text-align: center;
}

.club .content{
    color: #707070;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    margin-top: 34px;
}

.club-block .link-to-group
{
    display: block;
    width: 210px;
    margin: 40px auto;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #e27324;
    border: 1px solid #e27324;
    border-radius: 3px;
}

.club-block .club a {
    color: #333;
}

@keyframes home-baner-title {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
}

@keyframes bannerH2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
}