<div class="footer-box">
    <div class="footer">
        <div class="companies">
            <div class="group">
                <a href=""><img src="/assets/img/links/brand-group.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-yazhi.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-lizhi.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-meihao.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-meilihao.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-meijiahao.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-dongfangxinli.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-yizhi.png" alt=""></a>
            </div>
            <div class="company">
                <a href=""><img src="/assets/img/links/link-r.png" alt=""></a>
            </div>
        </div>
        <div class="footer-bottom">
            <ul>
                <li>京ICP备14021657号-1</li>
                <li>| 美豪酒店集团 |  上海市嘉定区嘉美路777号</li>
                <li>
                    服务热线:400-118-6666
                </li>
                <li>
                    加盟电话:021-62266991
                </li>
                <li>
                    <a href="#"><img src="/assets/img/common/weixin.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/img/common/weibo.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>