<div class="footer-box">
    <div class="footer">
        <div class="footer-left">
            <div class="links">
                <div class="group-link">
                    <a href="">MEHOOD GROUP</a>
                </div>
                <div class="link-row">
                    <a href=""><img src="/assets/img/links/yazhi.png" alt=""></a>
                    <a href=""><img src="/assets/img/links/lizhi.png" alt=""></a>
                    <a href=""><img src="/assets/img/links/meihaojd.png" alt=""></a>
                    <a href=""><img src="/assets/img/links/meilihao.png" alt=""></a>
                </div>
                <div class="link-row">
                    <a href=""><img src="/assets/img/links/meijiahao.png" alt=""></a>
                    <a href=""><img src="/assets/img/links/dongfangxinli.png" alt=""></a>
                    <a href=""><img src="/assets/img/links/yizhi.png" alt=""></a>
                    <a href=""><img src="/assets/img/links/yalss.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <ul>
                <li>京ICP备14021657号-1</li>
                <li>| 美豪酒店集团 |  上海市嘉定区嘉美路777号</li>
                <li class="contacts">
                    <dl>
                        <dt>服务热线</dt>
                        <dd>400-118-6666</dd>
                    </dl>
                    <dl>
                        <dt>加盟电话</dt>
                        <dd>021-62266991</dd>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd></dd>
                    </dl>
                </li>
                <li>
                    <a href="#"><img src="/assets/img/common/weixin.png" alt=""></a>
                    <a href="#"><img src="/assets/img/common/weibo.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>