<div class="links">
    <div class="companys">
        <div class="group">
            <img src="/assets/img/common/group.png" alt="美豪集团">
        </div>

        <div class="company">
            <img src="/assets/img/common/yazhi.brand.png" alt="雅致">
        </div>
        <div class="company">
            <img src="/assets/img/common/lizhi.brand.png" alt="美豪丽致酒店">
        </div>
        <div class="company">
            <img src="/assets/img/common/meilihao.brand.png" alt="美丽豪酒店">
        </div>
        <div class="company">
            <img src="/assets/img/common/meihaojiudian.brand.png" alt="美豪酒店">
        </div>                  
    </div>
</div>